
.cirjsicon-floppy:before { content: '\e800'; } /* '' */
.cirjsicon-back-in-time:before { content: '\e801'; } /* '' */
.cirjsicon-ccw:before { content: '\e802'; } /* '' */
.cirjsicon-export:before { content: '\e803'; } /* '' */
.cirjsicon-print:before { content: '\e804'; } /* '' */
.cirjsicon-cw:before { content: '\e805'; } /* '' */
.cirjsicon-scissors:before { content: '\e806'; } /* '' */
.cirjsicon-zoom-11:before { content: '\e807'; } /* '' */
.cirjsicon-target:before { content: '\e808'; } /* '' */
.cirjsicon-info-circled:before { content: '\e809'; } /* '' */
.cirjsicon-zoom-in:before { content: '\e80a'; } /* '' */
.cirjsicon-zoom-out:before { content: '\e80b'; } /* '' */
.cirjsicon-chart-line:before { content: '\e80c'; } /* '' */
.cirjsicon-columns:before { content: '\e80d'; } /* '' */
.cirjsicon-lines:before { content: '\e80e'; } /* '' */
.cirjsicon-docsx:before { content: '\e80f'; } /* '' */
.cirjsicon-select-all:before { content: '\e810'; } /* '' */
.cirjsicon-copy:before { content: '\f0c5'; } /* '' */
.cirjsicon-magic:before { content: '\f0d0'; } /* '' */
.cirjsicon-paste:before { content: '\f0ea'; } /* '' */
.cirjsicon-doc-text:before { content: '\f0f6'; } /* '' */
.cirjsicon-folder:before { content: '\f115'; } /* '' */
.cirjsicon-object-group:before { content: '\f247'; } /* '' */
.cirjsicon-object-ungroup:before { content: '\f248'; } /* '' */
.cirjsicon-clone:before { content: '\f24d'; } /* '' */
.cirjsicon-microchip:before { content: '\f2db'; } /* '' */
.cirjsicon-dropbox:before { content: '\f330'; } /* '' */