<div id="cse-search-results"></div><script type="text/javascript">
	var googleSearchIframeName = &quot;cse-search-results&quot;;
	var googleSearchFormName = &quot;cse-search-box&quot;;
	var googleSearchFrameWidth = 800;
	var googleSearchDomain = &quot;www.google.ru&quot;;
	var googleSearchPath = &quot;/cse&quot;;
</script><script type="text/javascript" src="https://www.google.com/afsonline/show_afs_search.js"></script>