<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta http-equiv="Last-Modified" content="{{ page.last_modified_at | date: '%a, %d %b %Y %H:%M:%S' }} GMT">-->

    <!--Предзагрузка базовых ресурсов-->
  <link rel="preload" href="/assets/css/style.css" as="style">
  <link rel="preload" href="/assets/final_logo2_var2.png" as="image">
  <link rel="preload" href="/assets/img/background12.png" as="image">
  <link rel="preload" href="/assets/img/white-paper.jpg" as="image">
  <link rel="preload" href="/assets/img/post%20divider_scroll.png" as="image">
  <link rel="preload" href="/assets/font/roboto/RobotoSlab-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/font/roboto/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/font/roboto/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Преконнекты убираем т.к. гугловские шрифты больше не используем!
  <link rel= "preconnect" href="fonts.googleapis.com">
  <link rel= "preconnect" href="fonts.gstatic.com">
  -->

    <!--Подключение ресурсов-->
  <link rel="stylesheet" href="/assets/css/style.css">

  <noscript><link rel="stylesheet" href="/assets/css/noscript.css"></noscript>

  <!--TO DO: Со временем нужно избавится от подключения к гугловскому сервису шрифтов и хостить Roboto у себя-->

  <!-- Выполнено! Гугловские шрифты больше не используем!
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
  -->

  <link rel="stylesheet" href="/assets/css/slide-menu.css">
  <script type="text/javascript" src="/assets/js/slide-menu.js"></script>
  <script src="/assets/js/sys.js"></script>

  <!--*********************************************************************************-->
  <!--Так как работает минимизатор кода, то комментариев можно оставить сколько угодно!-->
  <!--     Таким образом наведу порядок в коде этого (и не только) шаблона страниц     -->
  <!--*********************************************************************************-->

  <!--Здесь подключаем все, что относится к шаблону post (статьи, отдельные страницы)-->
  {% if page.layout contains 'post' %}

  <!--Во первых это подсветка кода в статье:-->
  {% if page.url contains '/contacts.html' %}{% else %}   <!--Исключим страницу контактов-->
  {% if page.url contains '/about.html' %}{% else %}      <!--и Обо мне: оно там нафиг не нужно-->
  {% if page.url contains '/test_comments/' %}{% else %}  <!--Тоже можно-->
  <link rel="stylesheet" href="/assets/css/atelier-forest-light.css">
  <script src="/assets/js/highlight.pack.js"></script>
  {% endif %}
  {% endif %}
  {% endif %}

  <!--Если блок комментариев отключен: -->
  {% if page.comments contains 'false' %}

  {% if page.url contains '/test_comments/' %}<!--(за исключением тестовой страницы) -->
  <script src="https://seva77.alwaysdata.net/comments/embed.js"></script>
  {% endif %}
  <!--То ничего не подключаем-->
  <!--В остальных случаях подключаем скрипт сервиса комментариев: -->
  {% else %}<script src="https://seva77.alwaysdata.net/comments/embed.js"></script>{% endif %}

  {% if page.url contains '/about.html' %}{% else %} <!--В about не нужен этот скрипт-->
  <script>
  {% if page.url contains '/contacts.html' %}{% else %}
  {% if page.url contains '/test_comments/' %}{% else %}
    hljs.initHighlightingOnLoad(); /*в contacts.html и test_comments подсветки кода нет*/
  {% endif %}
  {% endif %}

    {% if page.comments contains 'false' %} /*Если блок комментариев отключен*/
    /*То идентификатор убираем*/
    {% else %}var commentics_config = {
      'identifier': '{{ page.url | remove: "index.html" }}' /*В противном случае устанавливаем id равным кусочку url*/
    };{% endif %}

    {% if page.url contains '/test_comments/' %}var commentics_config = { /*Если это тестовая страница, то также*/
      'identifier': '{{ page.url | remove: "index.html" }}'
    };{% endif %}

  </script>{% endif %}<!--Конец: В about не нужен этот скрипт-->
  {% endif %}<!--Конец всего, что относится к шаблону post-->

  {% if page.layout contains 'post' %}
  {% else %}<meta property="og:type" content="website" />{% endif %} <!--Также установим og:type для всего, что не post-->
  <!--SEO плагин просто почему-то пропускает og:type для всего, что не post-->

  {% seo title=false %} <!--Собственно сам плагин SEO, title уже есть-->
</head>

<body>
  <script type="text/javascript">
    (async () => {
      for (let node of document.getElementsByTagName('img')) {
        await new Promise(res => {
          node.src = node.dataset.src;
          node.onload = () => res();
        })
      }
    })()
  </script>
<div class="contain_all">
