        <nav class="header_nav">
          <a class="nav_link" href="javascript:menu_click();">Разделы</a>
          <a class="nav_link" href="/projects/">Проекты</a>
          <a class="nav_link" href="/about.html">Обо мне</a>
          <a class="nav_link" href="/contacts.html">Контакты</a>
        </nav>
