    <div class="intro">
      <p class="text_intro">
        <img src="/assets/img/post%20divider_scroll.png">
         <br>
          Приветствую всех, кто каким-то чудом нашел этот блог. Формат данного блога свободный и в нем я стараюсь делиться различными полезностями, размышлениями о различных событиях, своим творчеством. <!--<br>
          <span style="font-size:0.8em;font-family:'Roboto Slab',serif;"> •
            <a href="https://gitlab.com/SEVA77/seva77.gitlab.io" rel="nofollow noopener" target="_blank">Исходный код</a> •
            <a href="https://github.com/SEVA77/TemplateOfMyBlog" rel="nofollow noopener" target="_blank">Шаблон</a> •
            <a href="https://github.com/SEVA77/TemplateOfMyBlog/blob/master/LICENSE" rel="nofollow noopener" target="_blank">Лицензия</a> •
            <a href="https://my77thblog.surge.sh" rel="nofollow noopener" target="_blank">Зеркало</a> •
          </span>-->
         <br>
        <img src="/assets/img/post%20divider_scroll.png" style="transform:scaleY(-1);margin-top:14px;">
      </p>
    </div>
