          <ul>

            <li>
              <a href="#"><i class="icon-folder-open"></i> Разработка</a>
              <ul>
                <li><a href="/blog/webdev/"><i class="icon-folder"></i> Веб-разработка</a></li>
                <li><a href="/blog/microcontrollers/"><i class="icon-folder"></i> Микроконтроллеры</a></li>
                <li><a href="/blog/mini-pc/"><i class="icon-folder"></i> Одноплатники мини-ПК</a></li>
                <li><a href="/blog/devtools/"><i class="icon-folder"></i> Инструменты разработчика</a></li>
              </ul>
            </li>

            <li>
              <a href="/blog/my-creative-work/"><i class="icon-folder"></i> Мое творчество</a>
            </li>

            <li>
              <a href="/blog/software-review/"><i class="icon-folder"></i> Обзоры (С)ПО</a>
            </li>

            <li>
              <a href="/blog/server-adventures/"><i class="icon-folder"></i> Серверные приключения</a>
            </li>

            <li>
              <a href="/blog/troubleshooting/"><i class="icon-folder"></i> Диагностика неисправностей</a>
            </li>

            <li>
              <a href="/blog/thinking-out-loud/"><i class="icon-folder"></i> Мысли вслух</a>
            </li>

            <li>
              <a href="#"><i class="icon-folder-open"></i> Инструкции и пр.</a>
              <ul>
                <li><a href="/blog/instructions/"><i class="icon-folder"></i> Мелкие инструкции</a></li>
                <li>
                  <a href="/help-list.html"><i class="icon-doc-text"></i> Моя шпаргалка</a>
                </li>
              </ul>
            </li>

          </ul>
