
      <div class="article">
        <div class="article_tape"></div>
        <div class="article_tape4"></div>
        <!--декорация-->
        <h2 class="a_title">
          <a href="{{ projects.url | remove: "index.html" }}">{{ projects.title }}</a>
        </h2>
        <div class="article_flex">

          <div class="article_img_proj">
            <div class="article_img_tape"></div><img src={{ projects.thumb }}>
          </div>

          <div class="article_txt">
            {{ projects.description }}
          </div>

        </div>
        <a class="a_button" href="{{ projects.url | remove: "index.html" }}">Подробнее...</a>
      </div>
