      <div class="paper">
        {{ content }}
      </div>
      {% if page.comments contains 'false' %}{% else %}<div class="paper comments">
        <noscript>
          <b>Система комментариев не работает без javascript!</b>
          <p>
            Я прекрасно понимаю тех, кто отключает возможность исполнения скриптов и полностью это поддерживаю.
            Более того, когда я делаю сайты, всегда придерживаюсь того, чтоб по возможности обходится без написания скриптов.
          </p>
          <p>
            К сожалению, у меня нет навыков, которые позволили бы написать систему комментариев с нуля в принципе.
            Причем такую систему, которую можно было бы безопасно связать со статическим сайтом.
          </p>
          <p>
            Тем не менее для тех, кто хочет донести до меня свое мнение, есть 2 варианта, как это сделать:
            либо связаться со мной по электронной почте, либо включить возможность исполнения javascript на этом сайте.
          </p>
          <p>
            В свою очередь я могу вас заверить, что на сайте нет никаких отслеживающих трекеров и вредоносных скриптов,
            а любые сторонние компоненты имеют открытый исходный код и распространяются под свободными лицензиями.
          </p>
        </noscript>
        <div id="commentics"></div>
      </div>{% endif %}
