
      <div class="article">
        <div class="article_tape"></div>
        <div class="article_tape4"></div>
        <!--декорация-->
        <h2 class="a_title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="article_flex">
          <div class="article_img">
            <div class="article_img_tape"></div><img src={{ post.thumb }}>
          </div>

          <div class="article_txt">
            {{ post.description }}
            <div class="a_cat"><b>Раздел: </b><i class="icon-folder"></i><a class="a_cat" href={{ post.caturl }}>{{ post.catname }}</a></div>
          </div>
        </div>
        <div class="a_date">
          <i class="icon-calendar"></i>&nbsp;{{ post.date | date: '%d' }}.{{ post.date | date: '%m' }}.{{ post.date | date: '%Y' }}&nbsp;&nbsp;&nbsp;<i class="icon-comment-alt"></i>&nbsp;0
        </div>
        <a class="a_button" href="{{ post.url }}">Подробнее...</a>
      </div>
