  <!--САЙДБАРЫ И КОНТЕНТ-->
  <div id="flexcontainer">

    <div class="content">
      <!--контент-->
{% if page.collection %}
  {% assign collection = site.projects | sort: 'position' %}
  {% assign prev = collection | last %}
  {% assign next = collection | first %}

{% for projects in collection limit: 10 offset: 0 %}
{% include /2_2_list_for_projects.html %}
{% endfor %}

{% endif %}
    </div>


    <div class="sidebarr">
      <!--правый сайдбар-->

      <div class="sb_block">
        <!--блоки для правого сайдбара-->
        <div class="sb_title"><b>Разделы блога</b></div>
        <nav class="slide-menu" id="example-menu">
{% include /2_1_slide-menu.html %}
        </nav>
      </div>
    </div>
  </div>
