  <!--САЙДБАРЫ И КОНТЕНТ-->
  <div id="flexcontainer">

    <div class="content">
      <!--контент-->
{% for post in paginator.posts offset: 0 %}
{% include /2_2_list.html %}
{% endfor %}

{% if paginator.page_trail %}
<div class="pager_list">

  <ul class="pager">
    {% if paginator.first_page %}
    <li class="previous">
        <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-backward"></i></a>
    </li>
    {% endif %}

    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-left"></i></a>
    </li>
    {% endif %}

    {% for trail in paginator.page_trail %}
      <li>
          <{% if page.url == trail.path %}span class="numpage"{% else %}a class="numpage" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" }}"{% endif %} title="{{trail.title}}"><b>{{ trail.num }}</b></{% if page.url == trail.path %}span{% else %}a{% endif %}>
      </li>
    {% endfor %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-right"></i></a>
    </li>
    {% endif %}

    {% if paginator.last_page %}
    <li class="previous">
        <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-forward"></i></a>
    </li>
    {% endif %}
  </ul>

</div>
{% endif %}


    </div>


    <div class="sidebarr">
      <!--правый сайдбар-->

      <div class="sb_block">
        <!--блоки для правого сайдбара-->
        <div class="sb_title"><b>Разделы блога</b></div>
        <nav class="slide-menu" id="example-menu">
{% include /2_1_slide-menu.html %}
        </nav>
      </div>
    <!--
      <div class="sb_block">
        <p style="font-size:0.8em;font-family:'Roboto Slab',serif;text-align:center;padding:0 0 25px;"> •
          <a href="https://gitlab.com/SEVA77/seva77.gitlab.io" style="color:gray;" rel="nofollow noopener" target="_blank">Исходный код</a> •
          <a href="https://github.com/SEVA77/TemplateOfMyBlog" style="color:gray;" rel="nofollow noopener" target="_blank">Шаблон</a> •
          <br> •
          <a href="https://github.com/SEVA77/TemplateOfMyBlog/blob/master/LICENSE" style="color:gray;" rel="nofollow noopener" target="_blank">Лицензия</a> •
          <a href="https://my77thblog.surge.sh" style="color:gray;" rel="nofollow noopener" target="_blank">Зеркало</a> •
        </p>
      </div>
    -->
    </div>
  </div>
