  <!--САЙДБАРЫ И КОНТЕНТ-->
  <div id="flexcontainer">

    <div class="content">
      <!--контент-->
{% include /2_2_article.html %}
    </div>


    <div class="sidebarr">
      <!--правый сайдбар-->

      <div class="sb_block">
        <!--блоки для правого сайдбара-->
        <div class="sb_title"><b>Разделы блога</b></div>
        <nav class="slide-menu" id="example-menu">
{% include /2_1_slide-menu.html %}
        </nav>
      </div>
    </div>
  </div>
