  <footer class="footer">
    <div class="f_cont">
      <div class="f_info">
        <b>&copy; Хаткевич В. А., 2020—{{ site.year }}<br>Копирование контента и размещение на других сайтах запрещено</b>
      </div>
      <div class="f_icons">
{{ site.soc }}
      </div>
    </div>
  </footer>
  </div>
  <!--Вспомогательные элементы-->
  <!--
  <div id="modal_menu" class="modal_div">
    <span class="modal_close">Закрыть</span>-->
    <!--Здесь размещаем информацию которая будет в модальном окне.
  </div>-->
  <div class="overlay" onclick="close_menu()"></div><!-- Пoдлoжкa, oднa нa всю стрaницу -->

</body>

</html>
