
.icon-funkwhale:before { content: '\0f33'; } /* '༳' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-comment-alt:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-vkontakte:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-help:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-cc:before { content: '\e80d'; } /* '' */
.icon-terminal:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e810'; } /* '' */
.icon-quote:before { content: '\e811'; } /* '' */
.icon-left:before { content: '\e812'; } /* '' */
.icon-right:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-left-circled:before { content: '\e816'; } /* '' */
.icon-right-circled:before { content: '\e817'; } /* '' */
.icon-backward:before { content: '\e818'; } /* '' */
.icon-backward-circled:before { content: '\e819'; } /* '' */
.icon-forward:before { content: '\e81a'; } /* '' */
.icon-forward-circled:before { content: '\e81b'; } /* '' */
.icon-attention:before { content: '\e81c'; } /* '' */
.icon-cd:before { content: '\e81d'; } /* '' */
.icon-cog-1:before { content: '\e81e'; } /* '' */
.icon-cog-2:before { content: '\e820'; } /* '' */
.icon-beaker:before { content: '\e821'; } /* '' */
.icon-asterisk:before { content: '\e822'; } /* '' */
.icon-puzzle-outline:before { content: '\e823'; } /* '' */
.icon-puzzle:before { content: '\e824'; } /* '' */
.icon-gotosoc:before { content: '\e93a'; } /* '' */
.icon-qrcode:before { content: '\f029'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-google-plus:before { content: '\f0d5'; } /* '' */
.icon-bolt:before { content: '\f0e7'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-btc:before { content: '\f15a'; } /* '' */
.icon-youtube-square:before { content: '\f166'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-stack-overflow:before { content: '\f16c'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-paper-plane-o:before { content: '\f1d9'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-mastodon:before { content: '\f2e1'; } /* '' */
.icon-mastodon-alt:before { content: '\f2e2'; } /* '' */
.icon-peertube:before { content: '\f2e4'; } /* '' */
.icon-diaspora:before { content: '\f2e5'; } /* '' */
.icon-friendica:before { content: '\f2e6'; } /* '' */
.icon-gnu-social:before { content: '\f2e7'; } /* '' */
.icon-liberapay-square:before { content: '\f2e8'; } /* '' */
.icon-liberapay:before { content: '\f2e9'; } /* '' */
.icon-hubzilla:before { content: '\f2eb'; } /* '' */
.icon-discord:before { content: '\f2ee'; } /* '' */
.icon-discord-alt:before { content: '\f2ef'; } /* '' */
.icon-ethereum:before { content: '\f2f3'; } /* '' */
.icon-medium-square:before { content: '\f2f8'; } /* '' */
.icon-xmpp:before { content: '\f2f9'; } /* '' */
.icon-debian:before { content: '\f2ff'; } /* '' */
.icon-github-1:before { content: '\f300'; } /* '' */
.icon-hackaday:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gnupg:before { content: '\f30d'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-pixelfed:before { content: '\f314'; } /* '' */
.icon-dev-to:before { content: '\f316'; } /* '' */
.icon-gitea:before { content: '\f31f'; } /* '' */
.icon-archlinux:before { content: '\f323'; } /* '' */
.icon-pleroma:before { content: '\f324'; } /* '' */
.icon-f-droid:before { content: '\f32a'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-tor-onion:before { content: '\f32e'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-mastodon-square:before { content: '\f340'; } /* '' */
.icon-matrix-org:before { content: '\f349'; } /* '' */
.icon-gnu:before { content: '\f34d'; } /* '' */
.icon-google-play:before { content: '\f34e'; } /* '' */
.icon-markdown:before { content: '\f353'; } /* '' */
.icon-plume:before { content: '\f356'; } /* '' */
