<html>
<head>
<meta http-equiv="refresh" content="0;URL='{{ page.correct_url }}'" />
{% seo %}
</head>
<body>
Перенаправление в <a href="{{ page.correct_url }}">{{ page.correct_url }}</a>.
</body>
</html>